body{
    font-family: "Open Sans", sans-serif,Arial, Helvetica, sans-serif;
    font-size: small;
    
  } 

  .navigation{
    background-color:rgba(199, 238, 240, 0.3);
  }
  .presentation{
       font-size: 30px;
       font-weight: 800;
    color:rgba(60, 49, 223, 0.932);
    padding:10px  20px;
  }
  .bienvenue{
    padding:0px  20px;
      font-family: Helvetica;
    font-weight: 600;
    font-size: 17px;
  }
.button{
    color:white;
    background-color: rgba(60, 49, 223, 0.932);;
     font-weight: 600;
     border: solid 1px;
     border-radius: 10px;
     border-color: white;
}
.plus{
   
    font-size: 15px;
    font-weight: 600;
    color:royalblue;

}
 


 .element{
    margin:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top: 0px;

    border-radius: 30px;
    /* border: solid 0.7px; */
    
    border-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color:rgba(220, 239, 240,0.3);
    /* justify-content: center !important; */
   
 }
 .rounded{
     border: solid  0.5px;
     border-color: lightgrey;
     width:100%;
     /* max-width: 350px; */
     max-height: 200px;
     text-align: center;
    justify-content: start;
 }
 .titre{
     font-size:20px;
    
     font-weight: 600;
    
 }
 .description{
    display: block;
    font-size: 13px;
       font-weight: 500;
 }
 .macategorie{
    font-size: 18px;
    font-weight: 500;
    color:rgba(60, 49, 223, 0.932)
 }
 .info{
     display: inline;
     font-size: 16px;
     font-weight: 700;
     vertical-align: middle !important;
 }
 .rounded-circle{
     max-width: 50px;

 }
 .appreciation{
     padding: 5px;
    background-color: white;
     justify-content: center;
     vertical-align: middle;
 }
 .appreciation > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1px;
    
 }
 .appreciation > div >span{
    font-size: 10px;
    font-weight: 500;
   
 }
 .icon{
    color: rgba(98, 92, 190, 0.932);
    width: 1.5em;
    height: 1.5em;
   
 }
 .regist-icon{
     border-color: rgba(98, 92, 190, 0.932);
     color: white;
 }
 .profile{
    display: inline;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle !important;
    color: royalblue;
 }
 .date {
     font-size: 12px ;
     font-weight: 500;
     display: inline-block;
     vertical-align: middle !important;
 }
 .voireprofile{
     display: inline-block;
     text-decoration: underline;
     color:rgba(60, 49, 223, 0.932);
     font-size: 14px ;
     font-weight: 400;
 }
 .nombre{
    color: royalblue;
    font-size: 12px ;
     font-weight: 500;
 }
